html,body {
    background-color: #C7F2BF;
    margin:0;
    padding:0;
}

@font-face {
    font-family: RazorFont;
    font-style: oblique;
    src: url(../fonts/Razor.otf);
}

.container {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #C7F2BF;
}

.track-data {
    width: 100%;
    padding-top: 0px;
    margin-left: 2px;
    margin-top: 0px;
    font-size: 15px;
}

.inner-row {
    padding: 0px;
    margin: 5px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#previewbtn {
   /* padding-top: 5px;*/
    padding-right: 15px;
    margin-right: 15px;
}

.volume {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    padding-right: 15px;
    padding-left: 0px;
}

.audio-add-to-user, .audio-add-to-conference {
    padding: 0 10px 10px 10px;
    margin: 0 5px 5px 5px;
}

.search-results {
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-left: 0px;
    left: 0px;
}

.search-btn {
    font-size: 15px;
}

.volume > .glyphicon-volume-down {
    font-size: 20px;
}

#centre-panel, #left-panel, #right-panel {
    position: relative;
    height: 100%;
    border-radius: 0px;
    border: none;
    background-image: none;
    margin: 0px;
    padding: 0px;
}

#left-panel, #right-panel {
    margin: 0px;
    padding: 0px;
  /*  width: 25%;*/
}

.panel {
    position: relative;
    height: 100%;
    border: 0;
    margin-top: 25px;
}

#member-div {
    padding: 0px 0px 0px 0px;
    height: 90.5%;
}

#finddiv, #homediv, #followdiv, #recdiv, #member-div, #mymusicdiv, #profilediv {
    position: absolute;
    padding: 30px;
    border: none;
    /*margin-left: -30px;*/
    height: 90%;
    width: 100%;
}

.visiblediv {
    visibility: visible;
}

.hiddendiv {
    visibility: hidden;
}

.scrollfixed {
  /*  overflow-x: scroll;*/
    color: #251D26;
    font-family: 'Quicksand', sans-serif;
}

.text-primary {
    color: #251D26;
    font-family: 'Quicksand', sans-serif;
}

.txt {
    text-align: center;
}
.txt-small {
    font-size: 20px;
}

.text-warning {
    /* green */
   /* color: #67DE40;*/
    /* orange-red */
    color: #602759;
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
}

#search-results {
    padding-top: 25px;
}

#custom-search-input {
    margin:0;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    width: 100%;
    padding-right: 10px; \9
    padding-left: 10px;
    padding-bottom: 5px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    background-color: #C7F2BF;
    /*border-color: #67DE40;*/
    border-color: #602759;
    /*color: #67DE40;*/
    /* orange-red*/
    color: #AA9174;
    margin-bottom: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

::-webkit-input-placeholder {
    color: #F925F9;
}

:-moz-placeholder { /* Firefox 18- */
    color: #F925F9;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #F925F9;
}

:-ms-input-placeholder {
    color: #F925F9;
}

#searchbtn {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 5px 5px;
    margin-top: 2px;
    position: absolute;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*color: #67DE40;*/
    /* orange-red */
    color: #602759;
}

.search-query:focus + button {
    z-index: 3;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    padding: 25px;
    /*margin-left: -35px;*/
    /*margin-right: -15px;*/
    border-radius: 0;
    position: relative;
    color: #05235E;
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
}

.btn-lg {
    font-size: 100%;
    /*font-size: 250%;*/
}

#conf-glyph, #members-glyph
{
    font-size: 15px;
}

#mute-glyph {
    font-size: 20px;
}

.navbar-default {
    background-color: #C7F2BF;
    border-color: #602759 #09162F;
    border-bottom-width: 10px;
}

.sidenav, .panel-heading, .panel-body, .panel-footer {
    background-color: #C7F2BF;
    background-image: none;
    break-after: avoid;
   /* color: #050523;*/
    border-color: #C7F2BF;
}

.panel-footer {
    border-top: #C7F2BF;
}

#homediv, #followdiv, #finddiv, #recdiv, #followdiv, #profilediv, #mymusicdiv {
    background-color: #C7F2BF;
    background-image: none;
    color: #050523;
    text-decoration-color: #050523;
    border-color: #050523;
}

#homediv {
    text-align: justify;
    padding-right: 10px;
}

p .text-warning, .hr {
    /*color: #050523;*/
    /* orange-red*/
    color: #602759;
}

.text-warning:hover {
    color: white;
}

.panel-info > .panel-heading {
   /* color: #050540;*/
    border-color: #C7F2BF;
    border-bottom-color: #C7F2BF;
    background-color: #C7F2BF;
    padding: 15px 15px 0px 15px;
    margin-bottom: 0;
}

.panel-info > .panel-body {
    margin-top: 0;
    border-top: 10px #C7F2BF;
    background-color: #C7F2BF;
}

.panel-info > .panel-title {
    border: none;
    border-color: #C7F2BF;
    padding: 10px;
    background-color: #C7F2BF;
    margin: 0;
}

.panel-info {
    color: #251D26;
    border-color: #251D26;
    border-width: thick;
    padding: 0;
    background-color: #C7F2BF;
    background-image: none;
   /*  color: #02022A;*/
    /*border-color: #050523;*/
}
.btn-link {
    /* orange-red */
    color: #602759;
    /* electric cyan */
   /* color: #4AE9E4;*/
    /* green */
   /* color: #67DE40;*/
}


a:hover, .text-warning:hover, a:visited, a:active, a:focus, .btn-link:hover, .nav .btn-link:hover, #mute-glyph:hover, #log {
    text-decoration: none;
    border: none;
    color: #AA9174;
    outline: none !important;
    text-shadow: none;
    font-weight: bold;
}

.btn-link:focus, .btn-link:active, .nav .btn-link:focus, .nav .btn-link:active, #mute-glyph:focus, #mute-glyph:active, #mute-glyph:visited {
    text-decoration: none;
    border: none;
    color: #602759;
    outline: none !important;
    text-shadow: none;
}

.central-menu > .btn-link, .glyphicon-log-out, #logout {

   /* orange-red*/
   color: #602759;
    /* purple
    color: #7F3FBF;*/
    /* green */
   /* color: #67DE40;*/
}

#mainNavbar {
    margin-left: 70px;
    padding-left: 30px;
    display: inline-block;
    float: none;
    padding-top: 5px;
    text-align: center;
}

.central-menu {
    padding-left: 0;
    padding-right: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 47em; /*670px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    border: 0;
    border-color: #02022A;
}

/* Set gray background color and 100% height */
.sidenav {
    padding: 0px;
    margin: 0px;
  /*  background-color: #f1f1f1;*/
    height: 100%;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

@media screen and (min-width: 1500px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:100em;}
}